* {
	margin: 0;
	padding: 0;
}

#header {
	height: 100px;
	background-color: white;
	width: 100%;
	float: left;
	border-bottom: 2px solid #CBCBCB;
}

.headername {
	letter-spacing: .1em;
	float: left;
	color: white;
	padding-top: 30px;
	height: 70px;
	width: 340px;
	background-color: #4AAAA5;
	margin-left: 150px;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.text {
	
	color: white;
	background-color: white;
	height: 65px;
	width: 300px;
	float: right;
	margin-right: 282px;
	padding-top: 35px;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.text a {
	color: #8E989C;
	text-decoration: none;
}

#body {
	height: 530px;
	width: 100%;
	float: left;
}

.box1 {
	width: 650px;
	height: 450px;
	background-color: white;
	float: left;
	border: 1px solid #CBCBCB;
	margin-left: 150px;
	margin-top: 40px;
}

.box1 h1 {
	margin: 20px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding-left: 5px;
	color: #4AAAA5;
	border-bottom: 3px solid #DCDCDC;
	padding-bottom: 15px;
}

.inside {
	height: 330px;
	width: 608px;
	margin: 20px;
	line-height: 1.5em;
	color: #8E989C;
	font-size: 20px;
	background-color: white;
}

.inside2 {
	text-align: center;
	background-color: white;
	height: 100px;
	width: 269px;
}

.box2 {
	width: 270px;
	height: 200px;
	background-color: white;
	margin-top: 40px;
	margin-right: 300px;
	float: right;
	border: 1px solid #CBCBCB;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.box2 h2 {
	color: #4AAAA5;
	padding-left: 5px;
	margin: 20px;
	border-bottom: 2px solid #F3F3F3;
	padding-bottom: 10px;
}

#footer {
	background-color: #666666;
	height: 95px;
	width: 100%;
	float: left;
	border-top: 7px solid #4AAAA5;
	text-align: center;
	color: white;
}

#footer p {
	margin-top: 33px;
}

.wordborder {
	border-right: 1px solid #CBCBCB;
	padding-right: 20px;
	padding-left: 20px;
}

.wordborder3 {
	padding-right: 20px;
	padding-left: 20px;
}

.picture img{
	padding-top: 6px;
	padding-right: 20px;
	padding-bottom: 10px;
	height: 126px;
	width: 170px;
	float: left;
	rotation-point:50% 50%;
    rotation:180deg;
}

.insidecontact {
	color: #8E989C;
	height: 330px;
	width: 608px;
	margin: 20px;
	line-height: 25px;
	background-color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 15px;
}

input, textarea {
	width: 600px;
	height: 22px;
	color: #8E989C;
	padding: 3px;
	font-size: 13px;
	margin-bottom: 10px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

textarea {
	height: 100px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 600px;
}

.submitbox {
	background-color: #4AAAA5;
	height:40px;
	width:100px;
	color: white;
	text-align: center;
	padding-top: 10px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}

.insideport {
	width: 608px;
	height: 330px;
	background-color: white;
	margin: 20px;
}

#pics {
	height: 155px;
	width: 220px;
	margin-bottom: 20px;
}

.picleft {
	float: right;
	border-left: 2px solid #F3F3F3;
	padding-left: 80px;
}

.conicons {
	height: 50px;
	width: 50px;
	padding: 5px;
	margin: 3px;
}

@media only screen and (max-width: 980px) {
    .text {
    	float: right;
    	margin-right: 100px;
    }

    #header {
    	height:100px;
    }

    #body {
		height: 900px;
    }

    #footer {
    	height: 100px;
    }

    .headername {
    	float: left;
    	width: 200px;
    	margin-left: 125px;
    }

    .headername h1 {
    	color: white;
    	margin-bottom: 20px;
		padding-top: 0;
    }

    .box1 {
    	width: 400px;
    	margin-left: 125px;
    	height: 800px;
    }

    .box2 {
    	float: right;
    	margin-right: 125px;
    }

    .picture img {
    	width: 360px;
    	height: 300px;
    }

    .inside {
    	width: 360px;
    	height: 700px;
    	line-height: 1.3em;
    }

    .insideport {
    	background-color: white;
    	height: 680px;
    	width: 360px;
    }

    #pics {
    	width: 360px;
    	border: none;
    }

    .insidecontact {
    	background-color: white;
    	height: 680px;
    	width: 360px;
    }

    input, textarea {
		width: 350px;
		height: 25px;
	}

	textarea {
		height: 300px;
		width: 350px;
}

@media only screen and (max-width: 768px) {
	#header {
		height: 100px;
	}

	.headername {
		margin-left: 20px;
	}

	.text{
		float: right;
		margin-right: 1px;
	}

	#body {
		height: 800px;
	}

	#footer {
		height: 100px;
	}

	.box1 {
		margin-left: 20px;
		width: 700px;
		height: 500px;
		float: left;
	}

	.picture  img{
		width: 340px;
		height: 240px;

	}

	.inside p {
		background-color: white;
		width: 660px;
		line-height: 1.2em;
	}

	.inside {
		height: 300px;
	}

	.box2 {
		float: left;
		margin-left: 20px;
		width: 700px;
		height: 180px;
	}

	.insideport {
		background-color: white;
		width: 660px;
		height: 390px;
	}

	#pics {
		width: 290px;
		height: 180px;
		margin: 0;
		margin-bottom: 16px;
	}

	.insidecontact {
		background-color: white;
		width: 660px;
		height: 390px;
	}

	input, textarea {
		width: 650px;
		height: 25px;
	}

	textarea {
		height: 150px;
	}

}

@media only screen and (max-width: 640px) {
	#header {
		height: 100px;
		width: 640px;
		margin: 0;
		padding: 0;
	}

	.headername {
		width: 639px;
		float: left;
		height: 60px;
		margin: 0;
	}

	.text {
		float: left;
		width: 639px;
		height: 40px;
		margin: 0;
		padding: 0;

	}

	.text a {
		padding-left: 70px;
		padding-right: 70px;
		

	}

	#body {
		height: 1250px;
		width: 640px;
	}

	.box1 {
		margin-top: 70px;
		width: 570px;
		height: 900px;
	}

	.box2 {
		width: 570px;
	}


	#footer {
		height: 100px;
		width: 640px;
	}

	.inside {
		background-color: white;
		height: 760px;
		width: 530px;
		float: left;
	}

	.picture img {
		width: 530px;
		height: 400px;
	}

	.inside p {
		background-color: white;
		float: left;
		width: 530px;
		height: 170px;
		line-height: 1.5em;
		margin-top: 10px;
	}

	.insideport {
		background-color: white;
		height: 780px;
		width: 530px;

	}

	#pics {
		width: 530px;
	}

	.insidecontact {
		background-color: white;
		width: 530px;
		height: 390px;
	}

	input, textarea {
		width: 520px;
		height: 25px;
	}

	textarea {
		height: 150px;
	}
}


